<!DOCTYPE html>
<html>
  <head>
    <title>Sturgill, Turner, Barker and Moloney Practice App | <%= @title %> </title>
  </head>
  <body>
    <h1>Employment</h1>
    <p>

      This is the employment page for the
      <a href="www.sturgillturner.com"> Sturgill Turner Public Site </a>
      practice application.
    </p>
  </body>
</html>